#Ejercicio 10:
Para los contenidos visibles en wikipedia, cuales son los artículos que tienen la máxima y mínima distancia entre ids de su revisión actual y la anterior (⭐⭐)

Empiezo importando la librería `pandas`, cargando el archivo con el que voy a trabajar y repasar un poco de que se trata, la información de las columnas, la memoria que consume

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/contents.csv', usecols = ['title', 'id', 'revision_id', 'parent_revision'])

In [ ]:
df

,title,id,revision_id,parent_revision
0,Wikipedia:Artículos solicitados,5,132533307,132516631.0
1,Andorra,7,138035057,138027475.0
2,Argentina,10,137966826,137825165.0
3,Geografía de Andorra,15,137986788,133666383.0
4,Demografía de Andorra,17,130869554,129413188.0
...,...,...,...,...
4132159,Cruz nestoriana,10010593,138052016,138051910.0
4132160,Manifestación del orgullo gay de 1977 en Barce...,10010595,138051859,NaN
4132161,Rocasaurus,10010596,138051902,NaN
4132162,Medalla Conmemorativa del 50.º Aniversario de ...,10010598,138051961,NaN
4132163,Fatikroy,10010600,138051985,138051982.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132164 entries, 0 to 4132163
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   title            object
 1   id               int64
 2   revision_id      int64
 3   parent_revision  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 126.1+ MB

In [ ]:
df.memory_usage()

Index                   128
title              33057312
id                 33057312
revision_id        33057312
parent_revision    33057312
dtype: int64

Al ver 50 filas aleatorias puedo tener un poco más de información que antes para analizar

In [ ]:
df.sample(50)

,title,id,revision_id,parent_revision
886675,Premio Wolf en Fisica,2183562,22952472,NaN
3190105,Privitera,7346043,89973829,NaN
2051889,Colibrí gargantilla,4516346,44661434,NaN
3641088,Orlando Trustfull,8666774,126159097,124864681.0
405136,Noche de san juan,1017164,38316691,27362720.0
3647378,Arthroleptis fichika,8681503,113509591,111058488.0
4059704,Joan Jorquera,9859068,134636795,NaN
1071917,Du l hiyya,2586110,129285811,129278027.0
2943179,Kepler-32b,6521070,126962193,126488427.0
436911,Bonnefont,1100194,120346531,107366522.0
1692200,La Chaussee sur-Marne,3881139,37653517,NaN
1667452,"James Bruce, 8 Duque de Elgin y 12º Duque de K...",3848369,110283600,37512724.0
3574737,Klamp,8552000,120571720,109060051.0
334376,Mykonos,818733,88222303,48052314.0
3741990,Bareju,8938154,118145520,117574428.0
2500992,Categoría:Sport Club Corinthians Paulista,5539450,106886309,105226577.0
625204,MACHO,1652269,21067267,17219824.0
1984464,La Brigada,4381268,42861104,NaN
1583914,Mario dei Fiori,3726058,36906228,NaN
3642291,Misión: Imposible III,8668860,110800311,NaN
200763,Tejido meristemático,459510,14293629,11316689.0
2709591,Categoría:Monasterios de Sudáfrica,5984126,69481209,NaN
1055648,Virrey de Navarra,2552043,26954473,NaN
3706518,Carly Reasbeck,8832997,129037384,127183694.0
3401164,Going Backwards,7975463,137996072,137977436.0
1621865,Diocesis de Gregorio de Laferrére,3783947,102223034,37202145.0
847930,V8 (motor),2124266,22333530,NaN
563873,Ética evolucionista,1468099,118743917,117391365.0
427080,Categoría:Procesos termodinámicos,1074128,65077405,64261268.0
2623055,Algas de Pele,5764124,67281856,65947363.0
1429285,Gyeongsang del norte,3397098,110733562,34270660.0
672994,International Standard Musical Work Code,1781486,132847264,119550256.0
2292499,Categoría:Boronia,5026609,65663296,60394341.0
453129,Categoría:Ciencia y tecnología de Israel,1149619,116015070,86907395.0
3754410,Categoría:Ciudades de la Antigua Roma en Cerdeña,8984787,121178236,116973033.0
3870092,Pecten (animal),9351885,133914072,133914014.0
3770732,Cacique Vitacura,9044006,126864241,126860518.0
2775992,Sergéi Monia,6130248,71734941,NaN
3787125,Castillo Candleston,9097113,119414409,NaN
3538886,Anexo:Campeonato Provincial de Fútbol de Segun...,8461499,128151308,128084713.0
2482717,Categoría:Organizaciones fundadas en los años ...,5494301,61449081,NaN
3873426,Categoría:Nacidos en Salisbury,9359350,124893538,NaN
1698360,Leon Guzmán Montes de Oca,3889384,37700264,NaN
182217,Anexo:Discografía de Shakira,413826,138035819,138035810.0
2845313,Álvaro García-Gango Guijarro,6286861,86211701,74178362.0
1401798,Centro nacional de investigaciones cardiovascu...,3354028,34022086,NaN
2966082,Facu Díaz,6570576,138025803,138025636.0
1422656,Gran premio de macao,3384747,34161491,NaN
3894737,Alhajero,9412108,136825674,130497879.0
790613,Movimiento resistencia global,2032345,34584279,25056342.0

Veo que columnas contienen NaN y cuantos son por columna

In [ ]:
nan_columns = df.columns[df.isna().any()]
df[nan_columns].isna().sum()

title                    4
parent_revision    1483218
dtype: int64

Busco los NaN que hay en la columna `title` porque me resulto curioso que eran tan pocos

In [ ]:
df.loc[df['title'].isna()]

       title       id  revision_id  parent_revision
106711   NaN   241067    125955134      125955101.0
401624   NaN  1007123     34784174       23562776.0
498277   NaN  1292078     12689919              NaN
803681   NaN  2054827     34933553       23073570.0

Elimino los Nan de las columnas que vi que contenian

In [ ]:
df.dropna(subset = ['title', 'parent_revision'], inplace = True)
df

,title,id,revision_id,parent_revision
0,Wikipedia:Artículos solicitados,5,132533307,132516631.0
1,Andorra,7,138035057,138027475.0
2,Argentina,10,137966826,137825165.0
3,Geografía de Andorra,15,137986788,133666383.0
4,Demografía de Andorra,17,130869554,129413188.0
...,...,...,...,...
4132150,Greg Miller (Internet celebrity),10010584,138051809,138051628.0
4132157,Braulio D'Aguirre,10010591,138051841,138051771.0
4132158,Alberto Alcalá Luna,10010592,138051957,138051951.0
4132159,Cruz nestoriana,10010593,138052016,138051910.0
4132163,Fatikroy,10010600,138051985,138051982.0

Hago el cálculo de lo pedido

In [ ]:
df['dist_entre_ids_de_revision'] = (df.revision_id - df.parent_revision).abs()
df

,title,id,revision_id,parent_revision,dist_entre_ids_de_revision
0,Wikipedia:Artículos solicitados,5,132533307,132516631.0,16676.0
1,Andorra,7,138035057,138027475.0,7582.0
2,Argentina,10,137966826,137825165.0,141661.0
3,Geografía de Andorra,15,137986788,133666383.0,4320405.0
4,Demografía de Andorra,17,130869554,129413188.0,1456366.0
...,...,...,...,...,...
4132150,Greg Miller (Internet celebrity),10010584,138051809,138051628.0,181.0
4132157,Braulio D'Aguirre,10010591,138051841,138051771.0,70.0
4132158,Alberto Alcalá Luna,10010592,138051957,138051951.0,6.0
4132159,Cruz nestoriana,10010593,138052016,138051910.0,106.0
4132163,Fatikroy,10010600,138051985,138051982.0,3.0

Calculo lo pedido, veo que valor es el máximo y cual el mínimo para poder acceder al `title` del articulo, su `id`. Además se puede leer el `revision_id`	y el `parent_revision` para efectivamente chequear ese resultado. Devuelvo un df para max, y otro df para min

In [ ]:
dist_maxima = df['dist_entre_ids_de_revision'].max()
dist_maxima

137146746.0

In [ ]:
df_dist_maxima = df.loc[df['dist_entre_ids_de_revision'] == dist_maxima ]

In [ ]:
dist_minima = df['dist_entre_ids_de_revision'].min()
dist_minima

1.0

In [ ]:
df_dist_minima = df.loc[df['dist_entre_ids_de_revision'] == dist_minima ]

In [ ]:
df_dist_maxima

      title     id  revision_id  parent_revision  dist_entre_ids_de_revision
16172  CEDA  30623    138003942         857196.0                 137146746.0

In [ ]:
df_dist_minima

,title,id,revision_id,parent_revision,dist_entre_ids_de_revision
6,Artes visuales,19,138035407,138035406.0,1.0
14,Anarquía,32,137335136,137335135.0,1.0
28,Autogiro,51,137628973,137628972.0,1.0
194,Actuación,295,133484302,133484301.0,1.0
197,Albaida (Valencia),299,135482605,135482604.0,1.0
...,...,...,...,...,...
4130179,Patholi,10006966,137960553,137960552.0,1.0
4130340,Proceso físico,10007301,137968851,137968850.0,1.0
4130560,Qasimpur Power House Colony,10007776,137981695,137981694.0,1.0
4131869,Categoría:Stray Kids,10010006,138047362,138047361.0,1.0
4132119,Río Mātukituki,10010546,138051023,138051022.0,1.0